/*-- scss:defaults --*/

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// Colors
$deep-cove: #040A2B;
$malibu: #5BB2F9;
$bay-of-many: #244A7B;
$calypso: #326494;
$cream: #F6EEE0;
$lightest-blue: #bde0fe;


// Navigation and Footer
$navbar-bg: $lightest-blue;
$footer-bg: $deep-cove;

// Fonts

$bebas-neue: 'Bebas Neue';

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  font-family: $bebas-neue;
}

h1 {
  color: $bay-of-many;
}

h2, h3 {
  color: $calypso;
}
