/*-- scss:defaults --*/

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,600;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Roboto', serif;
$font-family-monospace: 'Roboto', monospace;

$roboto-condensed-600: "Roboto Condensed", sans-serif;

// Colors
$deep-cove: #040A2B;
$malibu: #5BB2F9;
$bay-of-many: #244A7B;
$calypso: #326494;
$cream: #F6EEE0;
$lightest-blue: #bde0fe;

// background
$navbar-bg: $lightest-blue;
$footer-bg: $deep-cove;

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  font-family: $roboto-condensed-600;
}