/*-- scss:defaults --*/

// Google Fonts are loaded via <link> in _head.html for improved performance
// (avoids render-blocking CSS @import)

// Colors
$wc-deep-cove: #040A2B;
$wc-bay-of-many: #244A7B;
$wc-calypso: #326494;
$wc-malibu: #5BB2F9;
$wc-lightest-blue: #bde0fe;
$wc-cream: #FFFFFF;
$black: #000000;
$white: #ffffff;
$gray-900: #212529;

// Body
$body-bg: $wc-cream;
$body-color: $gray-900;
$link-color: $wc-calypso;
$enable-shadows: false;


// Navigation and Footer
$navbar-bg: $wc-cream;
$navbar-fg: $wc-deep-cove;
$navbar-hl: $wc-calypso;
$footer-bg: $wc-deep-cove;
$footer-fg: $white;

// Fonts

$roboto-flex: 'Roboto Flex';
$roboto-mono: 'Roboto Mono';

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif: $roboto-flex;

$font-family-monospace: $roboto-mono;


/*-- scss:rules --*/

h1, h2 {
  font-family: $roboto-flex;
  color: $wc-calypso;
}

h3, h4 {
  font-family: $roboto-flex;
  color: $wc-deep-cove;
}

.navbar-brand > img {
  max-height: 75px;
}
